  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Humboldt Biorefinery</p>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/index.html">Home</a></li>
          <li><a href="../about">About</a></li>
          <li><a href="../contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Topics<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="../topic1">Topic 1</a></li>
            <li><a href="../topic2">Topic 2</a></li>
            <li><a href="../topic3">Topic 3</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
         </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
	<div class="myHeader">
		<img src="../img/200x100_logo.png">
		<img src="../img/571x100_header_panaorama.png">
	</div>
